/* navbar start */
.navbar {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.navbar__logo {
  max-width: 273.63px;
  /* height: 48px; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar__logo img {
  width: auto;
  height: auto;
}

.navbar__title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar__item {
  margin-right: 24px;
  display: none;
}

.bar-icon {
  display: block;
  font-size: 1.5rem
}

/* navbar end */

/* banner start*/
.banner {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.banner__content {
  margin-bottom: 48px;
}

.banner__title {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.banner__description {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
}

.banner__input {
  max-width: 800px;
  height: 84px;
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
}

.banner__input input[type="text"],
select,
button {
  width: 100%;
  height: 52px;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
}

/* banner end */


/* main elements start */

/* popular__tour start */
.popular-tour {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.popular-tour__content {
  width: 100%;
  height: auto;
}

.popular-tour__title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
  margin-bottom: 20px;
}

.popular-tour__description,
.popular-tour__list {
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.popular-tour__list {
  width: 90%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 20px;
  margin-left: 14px;
}

.popular-tour__list-item {
  margin-bottom: 10px;
}

.btn {
  width: 50%;
  height: 52px;
  margin: 25px 0;
}

.popular-tour__image {
  width: 100%;
  height: 342px;
  border-radius: 16px;
  object-fit: cover;
}

.popular-tour__image img {
  width: 100%;
  height: 100%;
}

/* popular__tour end */

/* choose__destination start */
.choose-destination {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.choose-destination__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-destination__title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.choose-destination__description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.choose-destination__row--row-1,
.choose-destination__row--row-2,
.choose-destination__row--row-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.choose-destination__image {
  position: relative;
  height: 176px;
  overflow: hidden;
}

.choose-destination__image img {
  width: 100%;
  height: 100%;
}

.choose-destination__image-caption {
  font-size: 1.7rem;
}

/* choose__destination end */
