@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
  max-width: 1440px;
  height: 6940px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border: 2px solid red;
}

/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles */
.secondary__color {
  color: rgb(255, 84, 0);
}

.bar-icon {
  display: none;
}

/* shared variables */
:root {
}

/* header elements start */

/* navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

.navbar__logo {
  width: 273.63px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar__logo img {
  width: 20%;
  height: auto;
}

.navbar__logo .nav__title {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: left;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  list-style: none;
  margin-right: 44px;
}

.nav__item a {
  color: rgb(66, 66, 71);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.nav__item.secondary__color a {
  color: rgb(255, 84, 0);
}

/* banner */
.banner {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  border: none;
  margin-top: 50px;
  background-image: url(../Images/Group-13.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 106px 185px;
}

.banner__content {
  margin-bottom: 48px;
}

.banner__title {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 800;
  line-height: 80px;
  text-align: center;
}

.banner__description {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.banner__input {
  width: 800px;
  height: 84px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
}

.banner__input input[type="text"],
select,
button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 255, 255);
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-right: 14px;
}

.primary-btn {
  background-color: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
}

/* popular__tour */
.popular__tour {
  width: 1170px;
  height: 550px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular__tour--content {
  width: 50%;
  height: auto;
}

.tour__title {
  color: rgb(19, 19, 24);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  margin-bottom: 24px;
}

.tour__first--paragraph,
.tour__list--content,
.tour__second--paragraph {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.tour__list--content {
  width: 525px;
  height: 188px;
  margin-top: 24px;
}

.btn {
  margin-top: 32px;
}

.popular__tour--image {
  width: 540px;
  height: 550px;
  border-radius: 16px;
}

.popular__tour--image img {
  width: 100%;
  height: auto;
}

/* choose__destination  */
.choose__destination {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
}

.choose__destination--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination__title {
  color: rgb(19, 19, 24);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  margin-bottom: 24px;
}

.destination__description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 48px;
}

.row-1, .row-2, .row-3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.row-2 {
  grid-template-columns: 1fr 1.3fr 0.7fr;
}

.row-3 {
  grid-template-columns: 1.3fr 1.7fr;
}
.choose__destination--image {
  position: relative;
  height: 300px; /* Adjust as necessary */
  overflow: hidden;
}

.choose__destination--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose__destination--image p  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
}
