/* navbar start */
.navbar {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.navbar__logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar__logo img {
  width: auto;
  height: auto;
}

.navbar__title {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar__item {
  margin-right: 24px;
  display: none;
}

.bar-icon {
  display: block;
  font-size: 1.5rem;
}

/* navbar end */

/* banner start*/
.banner {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: none;
  margin-top: 20px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.banner__content {
  margin-bottom: 48px;
}

.banner__title {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.banner__description {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
}

.banner__input {
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
}

.banner__input input[type="text"],
select,
button {
  width: 100%;
  height: 52px;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
}

/* banner end */

/* main elements start */

/* popular__tour start */
.popular-tour {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.popular-tour__content {
  width: 100%;
  height: auto;
}

.popular-tour__title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
  margin-bottom: 20px;
}

.popular-tour__description,
.popular-tour__list {
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.popular-tour__list {
  width: 90%;
  height: auto;
  margin-top: 24px;
  margin-bottom: 20px;
  margin-left: 14px;
}

.popular-tour__list-item {
  margin-bottom: 10px;
}

.btn {
  width: 50%;
  height: 52px;
  margin: 25px 0;
}

.popular-tour__image {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

.popular-tour__image img {
  width: 100%;
  height: auto;
}

/* popular__tour end */

/* choose__destination start */
.choose-destination {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.choose-destination__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-destination__title {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.choose-destination__description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.choose-destination__row--row-1,
.choose-destination__row--row-2,
.choose-destination__row--row-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.choose-destination__image {
  position: relative;
  height: 376px;
  overflow: hidden;
  object-fit: cover;
}

.choose-destination__image img {
  width: 100%;
  height: 100%;
}

.choose-destination__image-caption {
  font-size: 1.7rem;
}

/* choose__destination end */


/* choose us start */
.choose-us {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.choose-us__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-us__title {
  width: 100%;
  height: auto;
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.choose-us__description {
  width: 100%;
  height: auto;
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.choose-us__row {
  margin-top: 48px;
}

.choose-us__row--1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.choose-us__cards {
  width: 100%;
  height: auto;
}

.choose-us__card--1 {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 32px;
}

.choose-us__card--2 {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 32px;
}

.choose-us__row--2 {
  max-width: 1170px;
  height: auto;
  margin-top: 15px;
}

.choose-us__card--3 {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 32px;
}

.choose-us__card {
  border-radius: 16px;
  padding: 32px;
}

.choose-us__icon {
  font-size: 1.5rem;
  color: rebeccapurple;
  margin-bottom: 26px;
}

.choose-us__card-title {
  color: rgb(19, 19, 24);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 16px;
}

.choose-us__card-description {
  color: rgb(90, 90, 93);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 26px;
}

/* choose us section ends */

/* deals section start */

.deals-section {
  margin-top: 50px;
  padding: 0 20px;
}

.deals__content-title {
  font-size: 2.2rem;
  line-height: 40px;
}

.deals__content-description {
  font-size: 0.8rem;
  line-height: 20px;
}

.deals__cards {
  width: 100%;
  height: auto;
  margin-top: 15px;
  border: 1px solid transparent;
}

.deals__card {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 187px;
  margin-bottom: 24px;
  padding: 0 16px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

.deals__card-content {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.deals__card-row--1 {
  display: block;
  margin-bottom: 16px;
  display: flex;
}

.deals__card-row--1 p {
  margin-bottom: 8px;
}

.deals__card-title {
  font-size: 1.5rem;
  line-height: 24px;
  margin-bottom: 12px;
}

.deals__card-description {
  font-size: 0.8rem;
  line-height: 20px;
  margin-bottom: 12px;
}

.deals__card-price {
  font-size: 1.1rem;
  line-height: 20px;
  margin-bottom: 16px;
}

.deals__card-btn {
  width: 30%;
  height: 40px;
  font-size: 1rem;
}

.deals__packages-btn {
  font-size: 18px;
  margin-top: 24px;
}

/* deals section ends */

/* place section start */

.place-section {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.place__content {
  width: 100%;
  height: auto;
}

.place__content-title {
  width: 100%;
  height: auto;
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.place__content-description {
  width: 100%;
  height: auto;
  color: rgb(90, 90, 93);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.place__content-list {
  width: 100%;
  height: auto;
  color: rgb(19, 19, 24);
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 16px;
  margin-bottom: 10px;
}

.place__content-item {
  margin-bottom: 12px;
}

.place__content-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
}

.place__card {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 20px;
}

.place__card img {
  width: 100%;
  height: 100%;
}

.place__card-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

/* place section end */